@import "tailwindcss";

@source '../../storage/framework/views/*.php';
@source '../../resources/views/widget/';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme {
    --color-primary: #ff0000;
}
