:root {
    --fc-button-bg-color: #00000000;
    --fc-button-border-color: #161617;
    --fc-button-hover-bg-color: #161617;
    --fc-button-hover-border-color: #19191a;
    --fc-button-active-bg-color: #19191a;
    --fc-button-active-border-color: #19191a;

    --fc-border-color: #161617;
    --fc-neutral-bg-color: #19191a;
    --fc-daygrid-event-dot-width: 10px;
    --fc-today-bg-color: rgba(255, 255, 255, 0.15);
    --fc-list-event-hover-bg-color: #262626;
}
